@import url('https://fonts.googleapis.com/css2?family=Enriqueta&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Enriqueta', serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    margin: 0px;
    background-color: grey;
}

h1{
    color: white;
}

.screen{
    cursor: pointer;
    width: 60%;
    background-color: black important;
}

.controls{
    background-color: rgba(0,0,0,0.6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 15px;
}

@media(max-width: 800px){          /* yh responsive bnane ke liye hai ke jb choti bari ho screen to kaam aega yh */
    .screen, .controls{
        width: 90%;
    }
}

.btn{
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.btn:focus{                      /*alag se banawa nhi aega nazar*/
    outline: 0;
}

.fa-play{
    color: greenyellow;
}

.fa-stop{
    color: red;
}

.fa-pause{
    color: white;
}

.timestamp{
    color: white;
    font-weight: bold;
    margin left: 10px;
}


